html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
a img {
  border: none;
}
html {
  background: #eee;
}
html body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background: #eee;
  color: #333;
}
#todoapp {
  width: 480px;
  margin: 0 auto 40px;
  background: #fff;
  padding: 20px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0 5px 6px 0;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 5px 6px 0;
  -o-box-shadow: rgba(0,0,0,0.2) 0 5px 6px 0;
  box-shadow: rgba(0,0,0,0.2) 0 5px 6px 0;
}
#todoapp h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 30px 0;
  line-height: 1;
}
#create-todo {
  position: relative;
}
#create-todo input {
  width: 466px;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  padding: 6px;
  border: 1px solid #999;
  -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset;
}
#create-todo input::-webkit-input-placeholder {
  font-style: italic;
}
#create-todo span {
  position: absolute;
  z-index: 999;
  width: 170px;
  left: 50%;
  margin-left: -85px;
}
#todo-list {
  margin-top: 10px;
}
#todo-list li {
  padding: 12px 20px 11px 0;
  position: relative;
  font-size: 24px;
  line-height: 1.1em;
  border-bottom: 1px solid #ccc;
}
#todo-list li:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#todo-list li.editing {
  padding: 0;
  border-bottom: 0;
}
#todo-list .editing .display,
#todo-list .edit {
  display: none;
}
#todo-list .editing .edit {
  display: block;
}
#todo-list .editing input {
  width: 444px;
  font-size: 24px;
  font-family: inherit;
  margin: 0;
  line-height: 1.6em;
  border: 0;
  outline: none;
  padding: 10px 7px 0px 27px;
  border: 1px solid #999;
  -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset;
  -o-box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset;
  box-shadow: rgba(0,0,0,0.2) 0 1px 2px 0 inset;
}
#todo-list .check {
  position: relative;
  top: 9px;
  margin: 0 10px 0 7px;
  float: left;
}
#todo-list .done .todo-content {
  text-decoration: line-through;
  color: #777;
}
#todo-list .todo-destroy {
  position: absolute;
  right: 5px;
  top: 14px;
  display: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("/images/destroy.png") no-repeat 0 0;
}
#todo-list li:hover .todo-destroy {
  display: block;
}
#todo-list .todo-destroy:hover {
  background-position: 0 -20px;
}
#todo-stats {
  *zoom: 1;
  margin-top: 10px;
  color: #777;
}
#todo-stats .todo-count {
  float: left;
}
#todo-stats .todo-count .number {
  font-weight: bold;
  color: #333;
}
#todo-stats .todo-clear {
  float: right;
}
#todo-stats .todo-clear a {
  color: #777;
  font-size: 12px;
}
#todo-stats .todo-clear a:visited {
  color: #777;
}
#todo-stats .todo-clear a:hover {
  color: #369;
}
#todo-stats:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
#instructions {
  width: 520px;
  margin: 10px auto;
  color: #777;
  text-shadow: rgba(255,255,255,0.8) 0 1px 0;
  text-align: center;
}
#instructions a {
  color: #369;
}
#credits {
  width: 520px;
  margin: 30px auto;
  color: #999;
  text-shadow: rgba(255,255,255,0.8) 0 1px 0;
  text-align: center;
}
#credits a {
  color: #888;
}
.ui-tooltip,
.ui-tooltip-top,
.ui-tooltip-right,
.ui-tooltip-bottom,
.ui-tooltip-left {
  color: #fff;
  cursor: normal;
  display: -moz-inline-stack;
  display: inline-block;
  font-size: 12px;
  font-family: arial;
  padding: 0.5em 1em;
  position: relative;
  text-align: center;
  text-shadow: 0 -1px 1px #111;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
}
